<h1><span data-i18n="skills.my_skills">About <a href="cv.pdf"><i class="fas fa-file-pdf"></i></a></span></h1>

<p>
    During the day I'm a Research Engineer at DeepMind where I work on
    challenging open problems in machine learning and artificial intelligence.
    My current focus sits at the intersection of Reinforcement Learning, 
    Multi-Agent, Game Theory and Continuous Control.
</p>
<p>
    I grew up in China, moved to France in 2011 to study and I'm now living and
    working in London. 
</p>
